@keyframes glow {
  0% { box-shadow: 0 0 5px theme(colors.indigo.500 / 20%); }
  50% { box-shadow: 0 0 20px theme(colors.indigo.500 / 30%); }
  100% { box-shadow: 0 0 5px theme(colors.indigo.500 / 20%); }
}

@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-glow {
  animation: glow 3s ease-in-out infinite;
}

.gradient-animate {
  background-size: 200% 200%;
  animation: gradientBG 15s ease infinite;
}